################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Unreal Projects/ArenaBattle/Binaries/Win64
/Unreal Projects/ArenaBattle/Intermediate
/Unreal Projects/ArenaBattle/Saved
/.vs
/Unreal Projects/ArenaBattle/.vs/ArenaBattle/v15
/Unreal Projects/ArenaBattle/Content/InfinityBladeWeapons
/Unreal Projects/ArenaBattle/Content/InfinityBladeWarriors
/Unreal Projects/ArenaBattle/Content/InfinityBladeGrassLands
Unreal Projects/ShooterGame/Content/
/Unreal5Project/Dodgeball/.vs
/Unreal5Project/Dodgeball/Binaries/Win64
/Unreal5Project/Dodgeball/Intermediate
/Unreal5Project/Dodgeball/Saved
/Unreal5Project/Dodgeball/Content/Characters
/Unreal5Project/Dodgeball/Content/LevelPrototyping
/Unreal5Project/Dodgeball/Content/StarterContent
/Unreal5Project/Dodgeball/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
/Unreal5Project/Dodgeball/Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
/Unreal5Project/SuperSideScroller/.vs/SuperSideScroller
/Unreal5Project/SuperSideScroller/Binaries/Win64
/Unreal5Project/SuperSideScroller/Intermediate
/Unreal5Project/SuperSideScroller/Saved
/Unreal5Project/SuperSideScroller/Content/Characters
/Unreal5Project/SuperSideScroller/Content/StarterContent
/Unreal5Project/SuperSideScroller/Content/__ExternalActors__/ThirdPerson/Maps/ThirdPersonMap
/Unreal5Project/SuperSideScroller/Content/__ExternalObjects__/ThirdPerson/Maps/ThirdPersonMap
/Unreal5Project/SuperSideScroller/.vs/ProjectEvaluation
/Unreal5Project/Pickups/.vs/Pickups
/Unreal5Project/Pickups/Saved
/Unreal5Project/Pickups/Intermediate
/Unreal5Project/MultiplayerFPS/.vs
/Unreal5Project/MultiplayerFPS/Binaries/Win64
/Unreal5Project/MultiplayerFPS/Intermediate
/Unreal5Project/MultiplayerFPS/Saved
/Unreal5Project/MultiplayerFPS/Content/__ExternalActors__/Map/DM-Test
/Unreal5Project/MultiplayerFPS/Content/__ExternalObjects__/Map/DM-Test
/Unreal5Project/MMO/Server/.vs/Server
/Unreal5Project/MMO/Server/Binaries/Debug
/Unreal5Project/MMO/Server/DummyClient/Debug
/Unreal5Project/MMO/Server/DummyClient/x64/Debug
/Unreal5Project/MMO/Server/GameServer/x64/Debug
/Unreal5Project/MMO/Server/ServerCore/x64/Debug
/Unreal5Project/MMO/Server/UpgradeLog.htm
/Unreal5Project/MMO/S1/.vs
/Unreal5Project/MMO/S1/Intermediate
/Unreal5Project/MMO/S1/Saved
/Unreal5Project/MMO/S1/Saved/Logs/UnrealVersionSelector-2025.02.15-20.32.05.json
/Unreal5Project/MMO/Server/Libraries/Libs/ServerCore/Debug
/Unreal5Project/MMO/S1/Binaries/Win64
/Unreal5Project/MMO/S1/S1.sln
/Unreal5Project/ArenaBattle/.vs
/Unreal5Project/ArenaBattle/Binaries/Win64
/Unreal5Project/ArenaBattle/Intermediate
/Unreal5Project/ArenaBattle/Saved
/Unreal5Project/ArenaBattle/ArenaBattle.sln
/Unreal5Project/ArenaBattleGAS/.vs/ArenaBattleGAS
/Unreal5Project/ArenaBattleGAS/Binaries/Win64
/Unreal5Project/ArenaBattleGAS/Intermediate
/Unreal5Project/ArenaBattleGAS/Saved
/Unreal5Project/ArenaBattleGAS/ArenaBattleGAS.sln
/Unreal5Project/ArenaBattleGAS/.vs/ProjectEvaluation
/Unreal5Project/LyraCloneGame/.vs
/Unreal5Project/LyraCloneGame/Binaries/Win64
/Unreal5Project/LyraCloneGame/Intermediate
/Unreal5Project/LyraCloneGame/Saved
/Unreal5Project/LyraCloneGame/LyraCloneGame.sln
/Unreal5Project/LyraCloneGame/Plugins/CommonUser/Binaries/Win64
/Unreal5Project/LyraCloneGame/Plugins/CommonUser/Intermediate/Build
/Unreal5Project/LyraCloneGame/Plugins/GameFeatures/ShooterCore/Binaries/Win64
/Unreal5Project/LyraCloneGame/Plugins/GameFeatures/ShooterCore/Intermediate/Build
